@use '../abstract/mixins' as mixins;
@use '../abstract/variables' as var;
@use '../abstract/functions' as fct;

.home-wrapper {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    @include mixins.setup-display-flex(column, center, center);
    background-color: rgba(48, 49, 49, 1);
}

.home-section {
    @include mixins.setup-display-flex(column, center, center, 24px);
    position: relative;
    max-width: var.$max-content-width;
    margin-left: auto;
    margin-right: auto;
    height: 100dvh;

    &__home-text {
        @include mixins.setup-font("Almarai", 48px, 400, rgba(255, 255, 255, 1));
        text-align: left;
        align-self: flex-start
    }

    &__home-headline {
        @include mixins.setup-font("RedRose", 140px, 700, rgba(255, 255, 255, 1));
    }

    &__home-btn-container {
        margin-top: 56px;
    }
}



.home-icon-container {
    position: absolute;
    left: -21%;
    top: 59%;
    height: clamp(180px, 25vw, 272px);
    width: clamp(250px, 34vw, 341px);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/src/assets/icons/stadia-controller-home.svg');
    overflow: visible;
    opacity: 0.05;
    transform: rotate(45deg);
}