@use '../abstract/mixins' as mixins;
@use '../abstract/variables' as var;
@use '../abstract/functions' as fct;

.home-wrapper {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    @include mixins.setup-display-flex(column, center, center);
    background-color: rgba(48, 49, 49, 1);
}

.home-section {
    @include mixins.setup-display-flex(column, center, center, 24px);
    position: relative;
    max-width: var.$max-content-width;
    margin-left: auto;
    margin-right: auto;
    height: 100dvh;

    &__home-text {
        @include mixins.setup-font("Almarai", 48px, 400, rgba(255, 255, 255, 1));
        text-align: left;
        align-self: flex-start
    }

    &__home-headline {
        @include mixins.setup-font("RedRose", 140px, 700, rgba(255, 255, 255, 1));
    }

    &__home-btn-container {
        margin-top: 56px;
    }
}

.home-start-btn {
    border: unset;
    cursor: pointer;
    background-color: rgba(240, 234, 110, 1);
    padding: 24px;
    transition: transform 125ms ease-in;
    @include mixins.setup-display-flex(row, center, center, 20px);

    &__icon {

        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        outline: none;
        border: none;
        background-color: transparent;
        width: 44px;
        transition: transform 100ms ease-in;

        &--left {
            height: 32px;
            background-image: url('/src/assets/icons/stadia_controller.svg');

        }

    }

    .home-start-btn__arrow {

        width: 32px;
        height: 20px;
        position: relative;

        &-icon {
            position: absolute;
            left: 0;
            top: 0;
            inset: 0;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            outline: none;
            border: none;
            background-color: transparent;
            transition: opacity 100ms ease-in;

            &--default {
                background-image: url('/src/assets/icons/arrow-sm.svg');
                opacity: 1;
            }

            &--hover {
                background-image: url('/src/assets/icons/arrow-lg.svg');
                opacity: 0;
            }

        }


    }


    &__text {
        @include mixins.setup-font("RedRose", 40px, 700, rgba(48, 49, 49, 1));
    }

    &:hover {
        transform: scale(1.1);

        .home-start-btn__icon--left {
            transform: rotate(-20deg);
        }

        .home-start-btn__arrow-icon {
            &--default {
                opacity: 0;
            }

            &--hover {
                opacity: 1;
            }
        }
    }
}

.home-icon-container {
    position: absolute;
    left: -21%;
    top: 59%;
    height: clamp(180px, 25vw, 272px);
    width: clamp(250px, 34vw, 341px);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/src/assets/icons/stadia-controller-home.svg');
    overflow: visible;
    opacity: 0.05;
    transform: rotate(45deg);
}