@use '../abstract/mixins' as mixins;
@use '../abstract/variables' as var;

.play-wrapper {
    width: 100%;
    @include mixins.setup-display-flex(column, center, center);

    &--code-vibes {
        background: linear-gradient(45deg,
                #6d6d6d 0%,
                #555 20%,
                #3a3b3b 50%,
                #2a2b2b 100%);
    }

    &--da-projects {
        background-color: rgba(191, 229, 242, 1);
    }

    &--food {
        background-color: rgba(232, 226, 220, 1);
    }

    &--games {
        background: linear-gradient(45deg,
                rgb(32, 134, 180) 0%,
                rgb(36, 110, 145) 40%,
                rgb(41, 79, 96) 100%);
    }
}


.play-section {
    @include mixins.setup-display-flex(column, flex-start, center);
    max-width: var.$max-content-width;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    height: 100dvh;

}

.header-section {
    max-width: var.$max-content-width;
    width: 90vw;
    height: 36px;
    margin-top: 24px;
    display: grid;
    grid-template-columns: auto 1fr auto;

    &--code-vibes {
        /* Nur als Test */
        /* background-color: rgb(41, 79, 96, 0.5); */
    }

    &--da-projects {}

    &--food {}

    &--games {}
}

.header-player-section {
    @include mixins.setup-display-flex(row, center, center);

    &--code-vibes {
        height: 62px;
        background-color: rgba(134, 233, 214, 0.2);
        padding: 0 24px;

        &__player-text {
            
        }

        &__icon-one {
            height: 24px;
            content: url('../../assets/icons/coding-vibes-player-blue.svg');
            object-fit: contain;
            object-position: center;
        }

        &__icon-two {
            height: 24px;
            content: url('../../assets/icons/coding-vibes-player-orange.svg');
            object-fit: contain;
            object-position: center;
        }
    
    }
}

.header-currentPlayer-container {
    @include mixins.setup-display-flex(row, center, center);
}

.header-exit-button {

}