@use '../abstract/mixins' as mixins;
@use '../abstract/variables' as var;
@use '../abstract/functions' as fct;


.visually-hidden {
    position: absolute;
    left: -9999px;
}

.play-wrapper {
    width: 100%;
    @include mixins.setup-display-flex(column, center, center);

    &--code-vibes {
        background: linear-gradient(45deg,
                #6d6d6d 0%,
                #555 20%,
                #3a3b3b 50%,
                #2a2b2b 100%);
        --card-width: 120px;
        --card-height: 120px;
    }

    &--da-projects {
        background-color: rgba(191, 229, 242, 1);
        --card-width: 120px;
        --card-height: 100px;
    }

    &--food {
        background-color: rgba(232, 226, 220, 1);
        --card-width: 122px;
        --card-height: 122px;
    }

    &--games {
        background: linear-gradient(45deg,
                rgb(32, 134, 180) 0%,
                rgb(36, 110, 145) 40%,
                rgb(41, 79, 96) 100%);
        --card-width: 105px;
        --card-height: 120px;
    }
}


.play-section {
    @include mixins.setup-display-flex(column, flex-start, center);
    max-width: var.$max-content-width;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    height: 100dvh;

}

.header-section {
    max-width: var.$max-content-width;
    width: 80vw;
    height: 102px;
    margin-top: 24px;
    display: grid;
    grid-template-columns: auto 1fr 256px;
    align-items: center;
    border-radius: 10px;

    &--code-vibes {
        grid-template-columns: auto 1fr 210px;
        border-radius: 0;
    }

    &--da-projects {
        background-color: rgba(240, 243, 244, 1);
    }

    &--food {
        background-color: rgba(240, 229, 217, 1);
    }

    &--games {
        background-color: rgba(253, 150, 201, 0.2);
    }
}



.header-currentPlayer-container {
    @include mixins.setup-display-flex(row, center, center);
    height: 100%;
    transform: translateX(-30px);

    span {
        margin-right: 12px;
        padding-bottom: 2px;
    }

    &__current-icon {
        height: 24px;
        width: 24px;
        object-fit: contain;
        object-position: center;
        padding: 8px;
    }


    &--code-vibes {
        @include mixins.setup-display-flex(row, center, flex-end);

        span {
            @include mixins.setup-font("RedRose", 26px, 400);
            color: rgba(255, 255, 255, 1);
        }

        .header-currentPlayer-container__current-icon {
            height: 29px;
            padding: 0;
        }

        .header-currentPlayer-container__current-icon--one {
            content: url('../../assets/icons/coding-vibes-player-blue.svg');
        }

        .header-currentPlayer-container__current-icon--two {
            content: url('../../assets/icons/coding-vibes-player-orange.svg');
        }
    }

    &--games,
    &--da-projects,
    &--food {

        .header-currentPlayer-container__current-icon {
            content: url('/src/assets/icons/games-current-player.svg');
        }

        .header-currentPlayer-container__current-icon--one {
            background-color: rgba(9, 127, 197, 1);
        }

        .header-currentPlayer-container__current-icon--two {
            background-color: rgba(234, 105, 0, 1);
        }

    }

    &--games {

        span {
            @include mixins.setup-font("Orbitron", 32px, 400, 100%, 7%);
            color: rgba(255, 255, 255, 1);
        }

        .header-currentPlayer-container__current-icon {
            border-radius: 3px;
        }

    }

    &--da-projects {

        span {
            @include mixins.setup-font("FigTree", 32px, 700);
            color: rgba(30, 117, 148, 1);
        }

        .header-currentPlayer-container__current-icon {
            border-radius: 10px;
        }

    }

    &--food {
        span {
            @include mixins.setup-font("KleeOne", 32px, 600);
            color: rgba(164, 82, 18, 1)
        }

        .header-currentPlayer-container__current-icon {
            border-radius: 10px;
        }
    }

}

.icon-hide {
    opacity: 0;
    transition: opacity 125ms ease-in;
}

.icon-show {
    opacity: 1;
}




.playing-field-section {
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    column-gap: var(--card-gap);
    row-gap: var(--card-gap);
    grid-template-rows: repeat(var(--board-rows), var(--card-height));
    grid-template-columns: repeat(var(--board-columns), var(--card-width));

    &--4-4 {
        --board-rows: 4;
        --board-columns: 4;
        --card-gap: 12px;
    }

    &--4-6 {
        --board-rows: 4;
        --board-columns: 6;
        --card-gap: 6px;
    }

    &--6-6 {
        --board-rows: 6;
        --board-columns: 6;
        --card-gap: 6px;
    }
}