@use '../abstract/mixins' as mixins;
@use '../abstract/variables' as var;
@use '../components/settingGroup';

h2 {
    @include mixins.setup-font("Almarai", 54px, 700);
    padding-left: 16px;
}

.settings-section {
    max-width: var.$max-content-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: 96px;
    width: 80vw;
    width: 80dvw;
    display: grid;
    grid-template-rows: auto 1fr;
    
}

.settings-sub-grid {
    margin-top: 48px
}

.settings-group {
    @include mixins.setup-display-flex(column, center, flex-start, 16px);
}

.settings-group + .settings-group {
    margin-top: 42px;
}

.settings-section-header {
    @include mixins.setup-display-flex(column, center, flex-start);

    &__decorative-arrow {
        @include mixins.setup-display-flex(row, flex-start, center);

        &__diamond {
            height: 10px;
            aspect-ratio: 1 / 1;
            background-color: var.$secondaryYellow;
            rotate: 45deg;
        }

        &__line {
            height: 3px;
            width: 232px;
            background-color: var.$secondaryYellow;
        }
    }
}

.settings-sub-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    
    &__right {

        &__top {
            display: flex;
            justify-content: flex-end;
        }
    }
}

