@use '../abstract/mixins' as mixins;
@use '../abstract/variables' as var;
@use '../abstract/functions' as fct;



.button {
    border: unset;
    cursor: pointer;
}

.button--homePlay-btn {
    background-color: var.$secondaryYellow;
    padding: 24px;
    transition: transform 125ms ease-in;
    @include mixins.setup-display-flex(row, center, center, 20px);

    &__icon-left {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        outline: none;
        border: none;
        background-color: transparent;
        width: 44px;
        height: 32px;
        transition: transform 100ms ease-in;
        background-image: url('/src/assets/icons/stadia_controller.svg');
    }

    &__text {
        @include mixins.setup-font("RedRose", 40px, 700, var.$designBlack);
    }

    &__icons {
        width: 32px;
        height: 20px;
        position: relative;

        &__icon {
            position: absolute;
            left: 0;
            top: 0;
            inset: 0;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            outline: none;
            border: none;
            background-color: transparent;
            transition: opacity 125ms ease-in;

            &--default {
                background-image: url('/src/assets/icons/arrow-sm.svg');
                opacity: 1;
            }

            &--hover {
                background-image: url('/src/assets/icons/arrow-lg.svg');
                opacity: 0;
            }
        }
    }


    &:hover {

        transform: scale(1.1);

        .button--homePlay-btn__icon-left {
            transform: rotate(-20deg);
        }

        .button--homePlay-btn__icons__icon--default {
            opacity: 0;
        }

        .button--homePlay-btn__icons__icon--hover {
            opacity: 1;
        }

    }

}


.button--setting-btn {
    height: 53px;
    width: 126px;
    background-color: var.$secondaryYellow;
    border: unset;
    outline: unset;
    cursor: pointer;
    margin-left: 16px;
    transition: transform 100ms ease-in;
    @include mixins.setup-display-flex(row, center, center, 6px);

    &__icons {
        position: relative;
        height: 24px;
        width: 24px;

        &__icon {
            position: absolute;
            left: 0;
            top: 0;
            inset: 0;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            &--default {
                background-image: url('/src/assets/icons/setting-game.svg');
            }

        }
    }


    &__text {
        @include mixins.setup-font("RedRose", 20px, 700);
    }

    &--disabled {
        cursor: not-allowed;
        pointer-events: none;
        background-color: rgba(219, 219, 214, 1);

        .button--setting-btn__text,
        .button--setting-btn__icons__icon--default {
            filter: brightness(3);
        }

    }

    &:hover:not(&--disabled) {
        transform: scale(1.11);

        .button--setting-btn__icons {
            transform: rotate(-5.3deg);
        }
    }
}

.button--win-draw-btn,
.button--exit-btn {
    height: 54px;
    cursor: pointer;
    @include mixins.setup-display-flex(row, center, center, 10px);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    transition: border 125ms ease-out, box-shadow 125ms ease-out, background-color 125ms ease-out;
    border-radius: 10px;

    &__icons {
        position: relative;
        height: 30px;
        width: 30px;

        &__icon {
            position: absolute;
            inset: 0;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transition: opacity 125ms ease-in;
        }
    }

    &--code-vibes {
        height: 62px;
        background-color: rgba(134, 233, 214, 0.2);
        border: 1px solid var.$code-vibes-button-border;
        padding: 16px 24px;

        &__text {
            @include mixins.setup-font("RedRose", 24px, 400, rgba(255, 255, 255, 1));
        }

        &--default {
            background-image: url('/src/assets/icons/coding-vibes-exit-icon.svg');
        }

        &:hover {
            border: 3px solid var.$code-vibes-font-color-green;
            box-shadow: 4px 4px 6px 0px rgba(240, 234, 110, 0.2);

        }

    }

    &--da-projects {
        height: 54px;
        border-radius: 10px;
        background-color: var.$da-project-button-default;
        padding: 12px 20px;

        &__text {
            @include mixins.setup-font("FigTree", 20px, 700, var.$da-project-primary-color);
            transition: color 125ms ease-in;
        }

        &--default {
            background-image: url('/src/assets/icons/da-project-exit-icon.svg');
            opacity: 1;
        }

        &--hover {
            background-image: url('/src/assets/icons/da-project-exit-icon-hover.svg');
            opacity: 0;
        }

        &:hover {
            background-color: var.$da-project-button-hover;
            box-shadow: 3px 3px 5px 0px rgba(47, 46, 46, 0.2);

            .button--exit-btn--da-projects__text,
            .button--win-draw-btn--da-projects__text {
                color: rgba(255, 255, 255, 1);
            }

            .button--exit-btn--da-projects--default {
                opacity: 0;
            }

            .button--exit-btn--da-projects--hover {
                opacity: 1;
            }
        }
    }


    &--food {
        height: 45px;
        border-radius: 10px;
        background-color: var.$food-button-color;
        padding: 12px 20px;
        border: 3px solid var.$food-primary-color;

        .button--exit-btn__icons {
            height: 22px;
            width: 22px;
        }

        &__text {
            @include mixins.setup-font("DeliusUnicase", 16px, 700, var.$food-primary-color);
        }

        &--default {
            background-image: url('/src/assets/icons/food-exit-icon.svg');
            opacity: 1;
        }

        &--hover {
            background-image: url('/src/assets/icons/da-project-exit-icon-hover.svg');
            opacity: 0;
        }

        &:hover {
            background-color: var.$food-primary-color;
            box-shadow: 3px 3px 5px 0px rgba(47, 46, 46, 0.2);

            .button--exit-btn--food__text,
            .button--win-draw-btn--food__text {
                color: rgba(255, 255, 255, 1);
            }

            .button--exit-btn--food--default {
                opacity: 0;
            }

            .button--exit-btn--food--hover {
                opacity: 1;
            }

        }

    }

    &--games {
        height: 54px;
        border-radius: 10px;
        padding: 12px 20px;
        border: 2px solid var.$games-button-border;
        background-color: rgba(237, 27, 118, 0.08);
        transition: box-shadow 125ms ease-in, border-width 125ms ease-in;

        &__text {
            @include mixins.setup-font("RedRose", 24px, 400, rgba(255, 255, 255, 1));
        }

        &--default {
            background-image: url('/src/assets/icons/games-exit-button-default.svg');
            opacity: 1;
        }

        &--hover {
            background-image: url('/src/assets/icons/games-exit-button-hover.svg');
            opacity: 0;
        }

        &:hover {
            background-color: rgba(237, 27, 118, 0.14);
            box-shadow: 3px 3px 5px 0px rgba(47, 46, 46, 0.2);
            border-width: 3px;

            .button--exit-btn--games--default {
                opacity: 0;
            }

            .button--exit-btn--games--hover {
                opacity: 1;
            }
        }
    }
}



.button--popup-resume {
    height: 57px;
    cursor: pointer;
    border: unset;
    outline: unset;
    transition: box-shadow 125ms ease-in, background-color 125ms ease-in;

    &--code-vibes {
        background-color: var.$code-vibes-secondary-color;
        padding: 16px 24px;

        &__text {
            @include mixins.setup-font("RedRose", 20px, 700, rgba(255, 255, 255, 1));
        }

        &:hover {
            box-shadow: inset 0 0 0 3px var.$code-vibes-button-border-second;
            background-color: rgba(102, 207, 188, 0.7);
        }
    }

    &--games {
        height: 44px;
        border-radius: 10px;
        padding: 12px 20px;
        background-color: var.$games-button-border;

        &__text {
            @include mixins.setup-font("Orbitron", 16px, 700, rgba(255, 255, 255, 1), 100%, 4%);
        }

        &:hover {
            background-color: rgba(242, 199, 218, 0.08);
            box-shadow: inset 0 0 0 2px var.$games-button-border, 3px 3px 5px rgba(47, 46, 46, 0.2);

            .button--popup-resume--games__text {
                color: var.$games-button-border;
            }
        }

    }

    &--da-projects {
        height: 43px;
        border-radius: 10px;
        padding: 12px 20px;
        background-color: var.$da-project-button-default;
        box-shadow: 3px 3px 5px 0px rgba(47, 46, 46, 0.2);

        &__text {
            @include mixins.setup-font("FigTree", 16px, 700, var.$da-project-button-hover);
        }

        &:hover {
            box-shadow: none;
            background-color: var.$da-project-button-hover;

            .button--popup-resume--da-projects__text {
                color: rgba(255,255,255,1);
            }
        }
    }

    &--food {
        height: 45px;
        border-radius: 10px;
        padding: 12px 20px;
        background-color: var.$food-button-color-second;
        box-shadow: inset 0 0 0 3px var.$food-primary-color;

        &__text {
            @include mixins.setup-font("DeliusUnicase", 16px, 700, rgba(255,255,255,1));
        }

        &:hover {
            background-color: var.$food-primary-color;
            box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
        }
    }
}

.button--popup-exit {
    height: 57px;
    cursor: pointer;
    border: unset;
    outline: unset;
    transition: box-shadow 125ms ease-in, background-color 125ms ease-in, color 125ms ease-in;

    &--code-vibes {
        background-color: rgba(134, 233, 214, 0.14);
        box-shadow: inset 0 0 0 2px var.$code-vibes-button-border;
        padding: 16px 24px;

        &__text {
            @include mixins.setup-font("RedRose", 20px, 700, var.$code-vibes-font-color-green);
        }

        &:hover {
            box-shadow: inset 0 0 0 3px var.$code-vibes-button-border, 4px 4px 6px 0px rgba(77, 213, 188, 0.2);
            background-color: rgba(134, 233, 214, 0.26);
        }
    }

    &--games {
        height: 44px;
        border-radius: 10px;
        padding: 12px 20px;
        background-color: rgba(237, 27, 118, 0.08);
        box-shadow: inset 0 0 0 2px var.$games-button-border;

        &__text {
            @include mixins.setup-font("Orbitron", 16px, 700, var.$games-button-border, 100%, 4%);
        }

        &:hover {
            box-shadow: inset 0 0 0 4px var.$games-button-border, 3px 3px 5px 0px rgba(47, 46, 46, 0.2);
            background-color: rgba(237, 27, 118, 0.14);
        }
    }

    &--da-projects {
        height: 43px;
        border-radius: 10px;
        padding: 12px 20px;
        background-color: var.$da-project-button-default-second;
        box-shadow: 3px 3px 5px 0px rgba(47, 46, 46, 0.2);

        &__text {
            @include mixins.setup-font("FigTree", 16px, 700, rgba(255,255,255,1));
        }

        &:hover {
            box-shadow: none;
            background-color: var.$da-project-button-hover-second;
        }
    }

    &--food {
        height: 45px;
        border-radius: 10px;
        padding: 12px 20px;
        background-color: var.$food-button-color;
        box-shadow: inset 0 0 0 3px var.$food-primary-color;

        &__text {
            @include mixins.setup-font("DeliusUnicase", 16px, 700, var.$food-primary-color);
        }

        &:hover {
            background-color: var.$food-primary-color;
            .button--popup-exit--food__text {
                color: rgba(255,255,255,1);
            }
        }
    }

}

.win-draw-btn,
.theme-btn {
    height: 54px;
    cursor: pointer;
    @include mixins.setup-display-flex(row, center, center);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    transition: border 200ms ease-out, box-shadow 200ms ease-out;
    border-radius: 10px;

    &__icon {

        &--visible {
            display: block;
            height: 30px;
            width: 30px;
            margin-left: 16px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('/src/assets/icons/coding-vibes-exit-icon.svg');
        }

        &--hidden {
            display: none;
        }
    }

    span {
        margin-left: 12px;
        margin-right: 16px;
    }

    &--code-vibes {
        height: 62px;
        background-color: rgba(134, 233, 214, 0.2);
        border: 1px solid rgba(77, 213, 188, 1);
        border-radius: 0px;

        span {
            @include mixins.setup-font("RedRose", 24px, 400);
            color: rgba(255, 255, 255, 1);
        }

        &:hover {
            border: 3px solid rgba(77, 213, 188, 1);
            box-shadow: 4px 4px 4px 0px rgba(240, 234, 110, 0.2);

        }
    }

    &--games {
        background-color: rgba(237, 27, 118, 0.08);
        border: 2px solid rgba(231, 28, 79, 1);

        span {
            @include mixins.setup-font("RedRose", 24px, 400);
            color: rgba(255, 255, 255, 1);
        }

        &:hover {
            border: 3px solid rgba(231, 28, 79, 1);
            box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.2);

        }
    }

    &--da-projects {
        background-color: rgba(191, 229, 242, 1);
        border: unset;

        span {
            @include mixins.setup-font("FigTree", 20px, 700);
            color: rgba(30, 117, 148, 1);
        }

        .theme-btn__icon {

            &--visible {
                background-image: url('/src/assets/icons/da-project-exit-icon.svg');
            }
        }

        &:hover {
            box-shadow: 4px 4px 4px 0px rgba(30, 117, 148, 0.2);

        }
    }

    &--food {
        background-color: rgba(255, 249, 242, 1);
        border: 3px solid rgba(243, 131, 45, 1);

        span {
            @include mixins.setup-font("DeliusUnicase", 16px, 700);
            color: rgba(243, 131, 45, 1);
        }

        .theme-btn__icon {

            &--visible {
                background-image: url('/src/assets/icons/food-exit-icon.svg');
            }
        }

        &:hover {
            border: 4px solid rgba(243, 131, 45, 1);
            box-shadow: 4px 4px 4px 0px rgba(30, 117, 148, 0.2);

        }
    }
}


.win-draw-btn--food {
    background-color: var.$food-primary-color;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.20);

    span {
        color: rgba(255, 255, 255, 1);
    }
}