@use '../abstract/mixins' as mixins;
@use '../abstract/variables' as var;
@use '../abstract/functions' as fct;

.dialog-section {
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100vw;
    @include mixins.setup-display-flex(column, center, center);
    transform: translateY(-100%);
    transition: transform 500ms ease-out;

    &--show {
        transform: translateY(0);
    }
}

.dialog-container {
    position: relative;
    z-index: 1;
    width: 540px;
    height: 270px;
    background-color: white;
    @include mixins.setup-display-flex(column, center, center, 32px);

    &--code-vibes {
        padding-inline: 24px;
    }

}


.dialog-headline {
    text-align: center;

    &--code-vibes {
        @include mixins.setup-font("RedRose", 32px, 700, var.$code-vibes-primary-color, 40px);
    }

}

.dialog-buttons {
    @include mixins.setup-display-flex(row, center, center, 24px);
}
