@use '../abstract/mixins' as mixins;
@use '../abstract/variables' as var;
@use '../abstract/functions' as fct;

.dialog-section {
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100vw;
    @include mixins.setup-display-flex(column, center, center);
    transform: translateY(-100%);
    transition: transform 500ms ease-out;

    &--show {
        transform: translateY(0);
    }
}

.dialog-container {
    position: relative;
    z-index: 1;
    width: 540px;
    height: 270px;
    background-color: white;
    @include mixins.setup-display-flex(column, center, center, 32px);

    &--code-vibes {
        padding-inline: 24px;
    }

    &--games {
        padding: 0;
        border-radius: 20px;
        background-color: rgba(240, 246, 249, 1);
    }

    &--da-projects {
        width: 456px;
        border-radius: 20px;
        gap: 40px;
        background-color: var.$da-project-dialog-bg;
    }

    &--food {
        width: 456px;
        border-radius: 20px;
        gap: 40px;
        background-color: var.$food-secondary-color;
    }

}


.dialog-headline {
    text-align: center;

    &--code-vibes {
        @include mixins.setup-font("RedRose", 32px, 700, var.$code-vibes-primary-color, 40px);
    }

    &--games {
        @include mixins.setup-font("Orbitron", 28px, 700, var.$games-primary-color, 40px, 2%);
    }

    &--da-projects {
        padding-inline: 40px;
        @include mixins.setup-font("FigTree", 28px, 700, var.$da-project-font-color-second);
        line-height: 40px;
    }

    &--food {
        padding-inline: 40px;
        @include mixins.setup-font("kleeOne", 28px, 600, var.$food-font-color);
        line-height: 40px;
    }

}

.dialog-buttons {
    @include mixins.setup-display-flex(row, center, center, 24px);
}
