@use '../abstract/mixins' as mixins;
@use '../abstract/variables' as var;
@use '../abstract/functions' as fct;

.end-screen-section {
    @include mixins.setup-display-flex(column, center, center, 24px);
    height: 100vh;
    height: 100dvh;
    width: 100%;
    overflow: hidden;

    &--code-vibes {
        background-color: var.$code-vibes-primary-color;
    }

    &--da-projects {
        background-color: var.$da-project-primary-color;
    }

    &--food {
        background-color: var.$food-primary-color;
    }

    &--games {
        background-color: var.$games-primary-color;
    }
}

.result-message {
    &--code-vibes {
        @include mixins.setup-font("RedRose", 40px, 400, rgba(255, 255, 255, 1));
    }

    &--da-projects {
        @include mixins.setup-font("FigTree", 40px, 400, rgba(255, 255, 255, 1));
    }

    &--food {
        @include mixins.setup-font("KleeOne", 40px, 400, var.$food-font-color);
    }

    &--games {
        @include mixins.setup-font("Orbitron", 28px, 700, rgba(255, 255, 255, 1), 100%, 7%);
    }
}

.winner-headline {
    &--code-vibes {
        @include mixins.setup-font("RedRose", 60px, 700);

        &--winner-orange {
            color: var.$code-vibes-font-color-orange;
        }

        &--winner-blue {
            color: var.$code-vibes-font-color-blue;
        }
    }

    &--da-projects {
        @include mixins.setup-font("FigTree", 80px, 700, rgba(255, 255, 255, 1));
    }

    &--food {
        @include mixins.setup-font("KleeOne", 80px, 600, var.$food-font-color);
    }

    &--games {
        @include mixins.setup-font("Orbitron", 64px, 700);
        letter-spacing: 7%;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

        &--winner-orange {
            color: $games-font-color-blue;
        }

        &--winner-blue {
            color: var.$games-font-color-orange;
        }
    }
}

.trophy {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 250px;
    margin-top: 52px;
    margin-bottom: 52px;

    &--code-vibes {
        &--winner-orange {
            background-image: url('/src/assets/icons/coding-vibes-winner-orange.svg');
        }

        &--winner-blue {
            background-image: url('/src/assets/icons/coding-vibes-winner-blue.svg');
        }

        &--draw {
            background-image: url('/src/assets/icons/coding-vibes-draw.svg');
            width: 340px;
            height: 270px;
        }
    }

    &--da-projects {
        &--winner-orange {
            background-image: url('/src/assets/icons/da-project-win-orange.svg');
        }

        &--winner-blue {
            background-image: url('/src/assets/icons/da-project-win-blue.svg');
        }
    }

    &--food {
        &--winner-orange {
            background-image: url('/src/assets/icons/food-winner-orange.svg');
        }

        &--winner-blue {
            background-image: url('/src/assets/icons/food-winner-blue.svg');
        }
    }

    &--games {

        &--winner-orange,
        &--winner-blue {
            background-image: url('src/assets/icons/game-pokal.svg/');
            box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
        }

        &--draw {
            background-image: url('src/assets/icons/game-draw.svg');
            width: 340px;
            height: 270px;
            box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
        }


    }
}

.draw-headline {
    &--code-vibes {}

    &--da-projects {}

    &--food {}

    &--games {}
}