@use '../abstract/mixins' as mixins;
@use '../abstract/variables' as var;
@use '../abstract/functions' as fct;

.end-screen-section {
    @include mixins.setup-display-flex(column, center, center, 24px);
    height: 100vh;
    height: 100dvh;
    width: 100%;
    overflow: hidden;

    &--code-vibes {
        background-color: var.$code-vibes-primary-color;
    }

    &--da-projects {
        background-color: var.$da-project-primary-color;
    }

    &--food {
        background-color: var.$food-secondary-color;
    }

    &--games {
        background-color: var.$games-primary-color;
    }
}

.code-vibes-header {
    position: fixed;
    top: -32px;
    left: 0;
    width: 100vw;
    width: 100dvw;
    @include mixins.setup-display-flex(row, center, center);
}

.code-vibes--top {
    max-width: var.$max-content-width;
    background-image: url('/src/assets/icons/coding-vibes-confetti.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1230px;
    height: 360px;
}

.result-message-mt {
    margin-top: 130px;
}

.result-message {
    &--code-vibes {
        @include mixins.setup-font("RedRose", 40px, 400, rgba(255, 255, 255, 1));
    }

    &--da-projects {
        @include mixins.setup-font("FigTree", 40px, 400, rgba(255, 255, 255, 1));
    }

    &--food {
        @include mixins.setup-font("KleeOne", 40px, 400, var.$food-primary-color);
    }

    &--games {
        @include mixins.setup-font("Orbitron", 28px, 700, rgba(255, 255, 255, 1), 100%, 7%);
    }
}

.winner-headline {
    &--code-vibes {
        @include mixins.setup-font("RedRose", 60px, 700);

        &--winner-orange {
            color: var.$code-vibes-font-color-orange;
        }

        &--winner-blue {
            color: var.$code-vibes-font-color-blue;
        }
    }

    &--da-projects {
        @include mixins.setup-font("FigTree", 80px, 700, rgba(255, 255, 255, 1));
    }

    &--food {
        @include mixins.setup-font("KleeOne", 80px, 600, var.$food-font-color);
    }

    &--games {
        @include mixins.setup-font("Orbitron", 64px, 700);
        letter-spacing: 7%;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

        &--winner-orange {
            color: var.$games-font-color-orange;
        }

        &--winner-blue {
            color: var.$games-font-color-blue;
        }
    }
}

.trophy {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 250px;
    margin-top: 34px;
    margin-bottom: 34px;

    &--code-vibes {
        &--winner-orange {
            background-image: url('/src/assets/icons/coding-vibes-winner-orange.svg');
        }

        &--winner-blue {
            background-image: url('/src/assets/icons/coding-vibes-winner-blue.svg');
        }

        &--draw {
            background-image: url('/src/assets/icons/coding-vibes-draw.svg');
            width: 340px;
            height: 270px;
        }
    }

    &--da-projects {
        &--winner-orange {
            background-image: url('/src/assets/icons/da-project-win-orange.svg');
        }

        &--winner-blue {
            background-image: url('/src/assets/icons/da-project-win-blue.svg');
        }

        &--draw {
            background-image: url('/src/assets/icons/coding-vibes-draw.svg');
            width: 340px;
            height: 270px;
            margin-top: 0;
        }
    }

    &--food {
        &--winner-orange {
            background-image: url('/src/assets/icons/food-winner-orange.svg');
        }

        &--winner-blue {
            background-image: url('/src/assets/icons/food-winner-blue.svg');
        }

        &--draw {
            background-image: url('/src/assets/icons/food-draw.svg');
            width: 260px;
            height: 210px;
        }
    }

    &--games {

        &--winner-orange,
        &--winner-blue {
            background-image: url('/src/assets/icons/games-pokal.svg');
            width: 250px;
            height: 280px;
        }

        &--draw {
            background-image: url('/src/assets/icons/games-draw.svg');
            width: 340px;
            height: 270px;
        }


    }
}

.food-end-trophy-bg {
    @include mixins.setup-display-flex(row, center, center);
    margin: 32px 0px;
    background-color: var.$food-trophy-bg-color;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);

    &--won {
        padding: 0px 56px;
    }

    &--draw {
        padding: 0 24px;
    }

}

.draw-headline {
    &--code-vibes {
        @include mixins.setup-font("RedRose", 128px, 700, var.$code-vibes-font-color-green);
        text-shadow: -7px 0px 8px rgba(77, 213, 188, 0.5);
    }

    &--da-projects {
        @include mixins.setup-font("FigTree", 128px, 700, var.$da-project-font-color);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &--food {
        @include mixins.setup-font("KleeOne", 128px, 700, var.$food-primary-color);
    }

    &--games {
        @include mixins.setup-font("Orbitron", 128px, 700, var.$games-font-color);
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
}