@use '../abstract/mixins' as mixins;
@use '../abstract/variables' as var;
@use '../abstract/functions' as fct;

.score-board {
    @include mixins.setup-display-flex(row, center, center);
    height: 54px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 0 24px;

    &__icon {
        display: block;
        height: 28px;
        width: 28px;
        object-fit: contain;
        object-position: center;
        margin-right: 8px;
    }

    &__player-text {
        display: none;
    }

    &__player-score {
        width: 32px;
    }

    &--code-vibes {
        height: 62px;
        background-color: rgba(134, 233, 214, 0.2);
        border-radius: 0;
        margin-left: 0;
    

        .score-board__player-text {
            @include mixins.setup-font("RedRose", 24px, 700);
            padding: 0px 8px;
            display: block;
        }

        .score-board__player-text--one {
            color: var.$code-vibes-font-color-blue;
        }

        .score-board__player-text--two {
            color: var.$code-vibes-font-color-orange;
        }

        .score-board__icon {
            height: 24px;
            margin-right: 0px;
        }

        .score-board__icon--one {
            content: url('/src/assets/icons/coding-vibes-player-blue.svg');
        }

        .score-board__icon--two {
            content: url('/src/assets/icons/coding-vibes-player-orange.svg');
        }

        .score-board__player-score {
            @include mixins.setup-font("RedRose", 24px, 700);
        }

        .score-board__player-score--one {
            color: var.$code-vibes-font-color-blue;
        }

        .score-board__player-score--two {
            color: var.$code-vibes-font-color-orange;
        }

    }


    &--games,
    &--da-projects,
    &--food {

        &-play {
            margin-left: 32px;
        }

        &-game-over {
            margin-left: 0;
        }

        .score-board__player-score--one {
            color: rgba(9, 127, 197, 1) !important;
            margin-right: 32px !important;
        }

        .score-board__player-score--two {
            color: rgba(234, 105, 0, 1) !important;
        }

        .score-board__icon--one {
            content: url('/src/assets/icons/games-player-blue.svg') !important;
        }

        .score-board__icon--two {
            content: url('/src/assets/icons/games-player-orange.svg') !important;
        }
    }


    &--games {

        .score-board__player-score {
            @include mixins.setup-font("Orbitron", 30px, 700);
        }

    }

    &--da-projects {

        .score-board__player-score {
            @include mixins.setup-font("FigTree", 30px, 700);
        }

    }

    &--food {

        .score-board__player-score {
            @include mixins.setup-font("DeliusUnicase", 30px, 700);
        }

    }
}

