@font-face {
    font-family: "Almarai";
    src: url('../../assets/fonts/Almarai-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Almarai";
    src: url('../../assets/fonts/Almarai-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Almarai";
    src: url('../../assets/fonts/Almarai-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Almarai";
    src: url('../../assets/fonts/Almarai-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: "RedRose";
    src: url('../../assets/fonts/RedRose-VariableFont_wght.ttf')  format('truetype');
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url('../../assets/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: "FigTree";
    src: url('../../assets/fonts/Figtree-VariableFont_wght.ttf');
    font-style: normal;
}