$max-content-width: 1920px;
$designBlack: rgba(48, 49, 49, 1);
$secondaryYellow: rgba(240, 234, 110, 1);
$card-height: 120px;

$code-vibes-primary-color: rgba(48, 49, 49, 1);
$code-vibes-secondary-color: rgba(102, 207, 188, 1);
$code-vibes-card-bg: rgba(232, 243, 240, 1);
$code-vibes-font-color-orange: rgba(245, 142, 57, 1);
$code-vibes-font-color-blue: rgba(43, 177, 255, 1);
$code-vibes-font-color-green: rgba(77, 213, 188, 1);
$code-vibes-button-border: rgba(77, 213, 188, 1);
$code-vibes-button-border-second: rgba(58, 188, 164, 1);

$da-project-primary-color: rgba(30, 117, 148, 1);
$da-project-card-bg:rgba(234, 242, 244, 1);
$da-project-button-default: rgba(191, 229, 242, 1);
$da-project-button-default-second: rgba(253, 138, 129, 1);
$da-project-button-hover: rgba(30, 117, 148, 1);
$da-project-button-hover-second: rgba(237, 91, 80, 1);
$da-project-font-color: rgba(253, 91, 79, 1);
$da-project-dialog-bg: rgba(240, 246, 249, 1);
$da-project-font-color-second: rgba(41, 79, 96, 1);

$games-primary-color: rgba(41, 79, 96, 1);
$games-font-color: rgba(237, 27, 118, 1);
$games-card-bg: rgba(246, 241, 243, 1);
$games-font-color-orange: rgba(234, 105, 0, 1);
$games-font-color-blue: rgba(34, 152, 219, 1);
$games-button-border:rgba(231, 28, 79, 1);
$games-dialog-bg:rgba(240, 246, 249, 1);

$food-primary-color: rgba(243, 131, 45, 1);
$food-card-bg: rgba(244, 236, 228, 1);
$food-secondary-color: rgba(246, 246, 246, 1);
$food-trophy-bg-color: rgba(247, 230, 213, 1);
$food-font-color: rgba(164, 82, 18, 1);
$food-button-color: rgba(255, 249, 242, 1);
$food-button-color-second: rgba(255, 171, 62, 1);