$max-content-width: 1920px;
$designBlack: rgba(48, 49, 49, 1);
$secondaryYellow: rgba(240, 234, 110, 1);
$card-height: 120px;

$code-vibes-primary-color:red;
$code-vibes-secondary-color:aqua;
$code-vibes-card-bg: rgba(232, 243, 240, 1);
$code-vibes-font-color:blue;


$da-project-primary-color: red;
$da-project-secondary-color: aqua;
$da-project-font-color: blue;

$games-primary-color: red;
$games-secondary-color: aqua;
$games-font-color: blue;

$food-primary-color: red;
$food-secondary-color: aqua;
$food-font-color: blue;