@use './abstract/fonts';
@use './views/settings';
@use './views/play';
@use './abstract/mixins' as mixins;

html {
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
}

#app {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    @include mixins.setup-display-flex(column, center, center);
}